[submodule "components/esp32-smbus"]
	path = components/esp32-smbus
	url = https://github.com/DavidAntliff/esp32-smbus.git
[submodule "avr/avr-poolmon"]
	path = avr/avr-poolmon
	url = https://github.com/DavidAntliff/avr-poolmon
[submodule "avr-poolmon"]
	path = avr-poolmon
	url = https://github.com/DavidAntliff/avr-poolmon
